@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

html {
    background: url('/images/background.jpg') no-repeat fixed center center/cover;
    min-height: 100%;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
